{% extends 'base.html' %}

{% block head %}
<h1> To-do</h1>
{% endblock %}

{% block body %}
<div id="intro"> <b><em>This is a To Do List in which you can fill in all your day to day activities to keep track of everything that needs to get done.</em></b> </div>
<table>
    <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <a href="#">Delete</a>
            <br>
            <a href="#">Update</a>
        </td>
    </tr>

</table>
{% endblock %}